/* Общие стили для всех секций */
.feedbox {
	background: #f3f2f1;
	border-radius: 4px;
	border: 1px #bfbfbf solid;
	margin-bottom: 26px;
}
.feedbox .feedbox-header {
	font-family: 'OpenSans_SemiBold';
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
	box-sizing: border-box;
	margin: 0 0 22px 0px;
	padding: 13px 0px 13px 43px;
	display: inline-block;
	width: 100%; 
	background: #a9a7a7; /* Old browsers */
	background: -moz-linear-gradient(top, #a9a7a7 0%, #a9a7a7 1%, #7b7979 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a7a7), color-stop(1%,#a9a7a7), color-stop(100%,#7b7979)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* W3C */
}
.feedbox-body {
	padding-bottom: 40px;
}
.feedbox-body .feedform {
	width: 395px;
	margin: 0 auto;
	margin-top: 10px;
}
.feedform .feedname {
	float: left;
	width: 183px;
	margin-bottom: 10px;
}
.feedform .feedmail {
	float: right;
	width: 183px;
	margin-bottom: 10px;
}
.feedform .feed-head {
	font-family: "OpenSans_Semibold";
	font-size: 14px;
	color: #727070;
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
}
.feedform .feed-input {
	width: 100%;
	border-radius: 6px;
	border: 1px #d6d5d3 solid;
	background: #fbfcfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfcfd 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfd), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfcfd 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfcfd 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfcfd 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfcfd 0%,#f3f3f3 100%); /* W3C */
	font-family: "Opensans_Ligth";
	font-size: 12px;
	padding-left: 9px;
	padding-top: 0;
}
.feedname .feed-input.name {
	height: 41px;
}

.feedmail .feed-input.mail {
	height: 41px;
}
.feedform .feedmessage {
	width: 100%;
	margin-bottom: 13px;
}
.feedmessage .feed-input.message {
	height: 170px;
	padding-top: 10px;
	padding-left: 10px;
}
.feedform .feedcapcha {
	margin-bottom: 30px;
}
.feedcapcha .capchabody{
	width: 100%;
}
.capchabody .wrap-capchaimg {
	float: left;
	width: 190px;
	height: 80px;
	border-radius: 6px;
	border: 1px #d6d5d3 solid;
	background: #FFFFFF;
}
.capchabody .capchaimg {
	width:100%;
	height: 100%;
	background: url(../img/capcha.png) no-repeat center center;
}
.capchabody .wrap-capcha-input{
	float: right;
	width: 190px;
}
.wrap-capcha-input .feed-input.capcha {
	height: 32px;
	margin-top: 20px;
}
.feedform .feedbuttons {
	width: 100%;
}
.feedbuttons .wrap-button-submit {
	float: left;
	margin-left: 27px;
	width: 123px;
	height: 41px;
	padding-top: 1px;
	padding-left: 1px;
	border-radius: 6px;
	background: #57d2b4; /* Old browsers */
	background: -moz-linear-gradient(top, #57d2b4 1%, #3aa187 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#57d2b4), color-stop(100%,#3aa187)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57d2b4 1%,#3aa187 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57d2b4 1%,#3aa187 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57d2b4 1%,#3aa187 100%); /* IE10+ */
	background: linear-gradient(to bottom, #57d2b4 1%,#3aa187 100%); /* W3C */
}
.wrap-button-submit .button-submit {
	display: inline-block;
	margin-top: 0px;
	width: 122px;
	height: 40px;
	border-width: 0px;
	border-radius: 6px;
	border-top: 1px #8fe7d1 solid;
	background: #5edbbc; /* Old browsers */
	background: -moz-linear-gradient(top, #5edbbc 0%, #3aa187 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5edbbc), color-stop(100%,#3aa187)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5edbbc 0%,#3aa187 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5edbbc 0%,#3aa187 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5edbbc 0%,#3aa187 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5edbbc 0%,#3aa187 100%); /* W3C */
	font-family: "OpenSans_Semibold";
	font-size: 14px;
	color: #1e7465;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.feedbuttons .wrap-button-clear {
	float: right;
	margin-right: 17px;
	width: 123px;
	height: 41px;
	padding-top: 1px;
	padding-left: 1px;
	border-radius: 6px;
	background: #d2d2d2; /* Old browsers */
	background: -moz-linear-gradient(top, #d2d2d2 0%, #c5c5c5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2d2d2), color-stop(100%,#c5c5c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d2d2d2 0%,#c5c5c5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d2d2d2 0%,#c5c5c5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d2d2d2 0%,#c5c5c5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d2d2d2 0%,#c5c5c5 100%); /* W3C */
}
.wrap-button-clear .button-clear {
	display: inline-block;
	width: 122px;
	height: 40px;
	border-width: 0px;
	border-radius: 6px;
	background: #fcfcfc; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfcfc 0%, #e9e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#e9e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfcfc 0%,#e9e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfcfc 0%,#e9e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfcfc 0%,#e9e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfcfc 0%,#e9e8e8 100%); /* W3C */
	font-family: "OpenSans_Semibold";
	font-size: 14px;
	color: #727070;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}


