html {
	height: 100%;
}
body {
	height: 100%;
	background: fixed url(../img/bg.jpg) no-repeat;
	background-size: cover;
	font: normal 62.5% 'OpenSans_Regular', Verbana, Arial, Helvetica, sans-serif;
	color: #727070;
}

/* Прибиваем футер к низу */
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto!important;
	/* overflow: hidden; */
}
.wrapper:after {
	content: "";
	height: 61px;
	display: block;
}
.page-footer {
	height: 61px;
	margin-top: -61px;
	min-width: 970px;
}

/* Прибиваем футер к низу - Конец */

/* Шапка */
.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 90px;
	background: url(../img/bg-head.jpg) top center repeat-x;
	position: relative;
	margin-bottom: 39px;
	border-bottom: 7px solid #FFFFFF; 
}
.page-header .header-logo-link {
	position: absolute;
	top: 10px;
	left: 10px;
}
.page-header .header-logo-text {
	position: absolute;
	left: -9999px;
}
.page-header .socials {
	position: absolute;
	right: 0;
	top: 26px;
}
/* Шапка конец */

/*Блок социальных иконок */
.socials {
	margin: 0;
	padding: 0;
	min-width: 260px;
}
.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 44px;
	width: 42px;
	margin-left: 19px; 
}
.socials .socials-item:first-child {
	margin-left: 0;
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../img/social.png) no-repeat;
}
.socials .socials-link.vk {background-position: -317px -5px}
.socials .socials-link.vk:hover {background-position: -369px -5px}
.socials .socials-link.tw {background-position: -213px -5px}
.socials .socials-link.tw:hover {background-position: -265px -5px}
.socials .socials-link.fb {background-position: -5px -5px}
.socials .socials-link.fb:hover {background-position: -57px -5px}
.socials .socials-link.git {background-position: -109px -5px}
.socials .socials-link.git:hover {background-position: -161px -5px}
/* Блок социальных иконок - Конец */

/* Сайдбар*/
.sidebar {
	width: 250px;
	float: left;
}

/* Навигация */
.navigation {
	overflow: hidden;
	background: #f8f8f8;
	border-radius: 4px;
	margin-bottom: 26px;
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation .navigation-item {
	border-top: 2px solid #5ecfb3;
}
.navigation .navigation-item:first-child {
	border-top:none;
}
/* Навигация - текущий пункт меню */
.navigation .navigation-item.current {
	background: #5ecfb3;
	margin: 0;
	border-bottom: none;
	padding-left: 11px;
	margin-bottom: -2px; /* Хак */  
}
.navigation .navigation-item.current .navigation-link {
	color: #1e7465;
	font-size: 22px;
}
/*Навигация - текущий пункт меню - конец */
.navigation .navigation-link {
	font-family: 'OpenSans_SemiBold';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #727070;
	margin-left: 16px;
	padding: 20px 0px;
}
.navigation .navigation-link:hover {
	color: #727070;
}
.navigation .navigation-item:hover {
	background: #dcdbdb;
}
/* Навигация - Конец */

/* Главная область */
.variable-content {
	width: 650px;
	float: right;
}
/* Главная область - Конец*/

/* Футер */
.page-footer {
	background: #ffffff;
	font-family: 'OpenSans_Light';
	color: #727070;
}
.page-footer .container {
	padding-top: 15px;
	position: relative;
}
.page-footer .copyright {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 1.2em;
}
/* Логин */
.page-footer .lock {
	position: absolute;
	top: 20px;
	left: 20px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'OpenSans_Bold';
	font-size: 1.4em;
	line-height: 1.4;
	color: #727070;
	text-decoration: none;
	background: url(../img/ft_locked.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background: url(../img/ft_unlocked.png) no-repeat;
}
/* Логин - Конец */
/* Футер - Конец */

/* Общие классы */
.container {
	width: 960px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
/* clearfix - Конец */
/* Общие классы - Конец */