html {
	height: 100%;
}
body {
	height: 100%;
	background: fixed url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	font: normal 62.5% 'OpenSans_Regular', Verbana, Arial, Helvetica, sans-serif;
	color: #727070;
}

/* Прибиваем футер к низу */
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto!important;
	/* overflow: hidden; */
}
.wrapper:after {
	content: "";
	height: 61px;
	display: block;
}
.page-footer {
	height: 61px;
	margin-top: -61px;
	min-width: 970px;
}

/* Прибиваем футер к низу - Конец */

/* Шапка */
.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 90px;
	background: url(../img/bg-head.jpg) top center repeat-x;
	position: relative;
	margin-bottom: 39px;
	border-bottom: 7px solid #FFFFFF; 
}
.page-header .header-logo-link {
	position: absolute;
	top: 10px;
	left: 10px;
}
.page-header .header-logo-text {
	position: absolute;
	left: -9999px;
}
.page-header .socials {
	position: absolute;
	right: 0;
	top: 26px;
}
/* Шапка конец */

/*Блок социальных иконок */
.socials {
	margin: 0;
	padding: 0;
	min-width: 260px;
}
.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 44px;
	width: 42px;
	margin-left: 19px; 
}
.socials .socials-item:first-child {
	margin-left: 0;
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../img/social.png) no-repeat;
}
.socials .socials-link.vk {background-position: -317px -5px}
.socials .socials-link.vk:hover {background-position: -369px -5px}
.socials .socials-link.tw {background-position: -213px -5px}
.socials .socials-link.tw:hover {background-position: -265px -5px}
.socials .socials-link.fb {background-position: -5px -5px}
.socials .socials-link.fb:hover {background-position: -57px -5px}
.socials .socials-link.git {background-position: -109px -5px}
.socials .socials-link.git:hover {background-position: -161px -5px}
/* Блок социальных иконок - Конец */

/* Сайдбар*/
.sidebar {
	width: 250px;
	float: left;
}

/* Навигация */
.navigation {
	overflow: hidden;
	border-radius: 4px;
	margin-bottom: 26px;
	-webkit-box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
	box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation .navigation-item {
	padding-left: 28px;
	border: 1px solid #bcbcbc;
	border-top: 0;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #e5e3e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e5e3e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#e5e3e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#e5e3e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#e5e3e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#e5e3e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e5e3e2',GradientType=0 ); /* IE6-9 */
	copy
}
.navigation .navigation-item:first-child {
	border-top:none;
}
/* Навигация - текущий пункт меню */
.navigation .navigation-item.current {
	background: #7de8cd;
	background: -moz-linear-gradient(top, #7de8cd 0%, #3fb79a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7de8cd), color-stop(100%,#3fb79a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7de8cd 0%,#3fb79a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7de8cd', endColorstr='#3fb79a',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 0px 1px 10px rgba(47,161,132,.5);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(47,161,132,.5);
	box-shadow: inset 0px 0px 1px 1px rgba(47,161,132,.5);
	margin: 0;
	margin-bottom: -2px; /* Хак */  
}
.navigation .navigation-item.current .navigation-link {
	color: #1e7465;
	font-size: 22px;
}
/*Навигация - текущий пункт меню - конец */
.navigation .navigation-link {
	font-family: 'OpenSans_SemiBold';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #727070;
	margin-left: 0px;
	padding: 14px 0px;
}
.navigation .navigation-link:hover {
	color: #727070;
}
.navigation .navigation-item:hover {
	background: #dcdbdb;
	background: -moz-linear-gradient(top, #dcdbdb 1%, #bfbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dcdbdb), color-stop(100%,#bfbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dcdbdb 1%,#bfbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dcdbdb 1%,#bfbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dcdbdb 1%,#bfbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dcdbdb 1%,#bfbcbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdbdb', endColorstr='#bfbcbc',GradientType=0 ); /* IE6-9 */
}
/* Навигация - Конец */

/* Контакты */
.contacts {
	overflow: hidden;
	font-style: normal;
	border-radius: 4px;
	margin-bottom: 26px;
	-webkit-box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
	-moz-box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
	box-shadow: 0px 2px 6px -2px rgba(0,0,0,1);
}
.contacts .contacts-header {
	font-family: 'OpenSans_SemiBold';
	font-size: 20px;
	font-weight: normal;
	color: #d0982c;
	padding: 14px 0 14px 28px;
	margin: 0;
	display: block;
	background: #ebc272; /* Old browsers */
	background: -moz-linear-gradient(top, #a9a7a7 0%, #a9a7a7 0%, #f4ce82 0%, #dfb866 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a7a7), color-stop(0%,#a9a7a7), color-stop(0%,#f4ce82), color-stop(100%,#dfb866)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#f4ce82 0%,#dfb866 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#f4ce82 0%,#dfb866 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#f4ce82 0%,#dfb866 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a9a7a7 0%,#a9a7a7 0%,#f4ce82 0%,#dfb866 100%); /* W3C */
	-webkit-box-shadow: inset 0px 0px 1px 10px rgba(207,164,179,.5);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(207,164,179,.5);
	box-shadow: inset 0px 0px 1px 1px rgba(207,164,179,.5);
	
}
.contacts .contacts-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.contacts .contacts-item {
	padding-left: 19px;
	font-family: 'OpenSans_Regular';
	font-size: 14px;
	height: 39px;
	border-bottom: 1px solid #f6f5f5;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #a9a7a7 0%, #a9a7a7 0%, #ffffff 0%, #f7f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a7a7), color-stop(0%,#a9a7a7), color-stop(0%,#ffffff), color-stop(100%,#f7f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* W3C */
	copy
}
.contacts .contacts-item:first-child {
	border-top:none;
}
.contacts .contacts-item:hover {
	background: #faf5ed; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #f2e7d0 100%, #a9a7a7 100%, #a9a7a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2e7d0), color-stop(100%,#a9a7a7), color-stop(100%,#a9a7a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* W3C */
}
.contacts-item .icon-mail {
	float:left;
}
.contacts-item .contact-link {
	float:right;
	width:160px;
	padding: 10px 0;
	color: #727070;
}
.contacts-item .contact-link a {
	color: #727070;
	text-decoration: none;
	display: block;
}
.contacts-item .contact-link a:hover {
	color: #727070;
	text-decoration: underline;
	display: block;
}
/* Контакты - Конец*/

/* Главная область */
.variable-content {
	width: 650px;
	float: right;
}
/* Главная область - Конец*/

/* Футер */
.page-footer {
	background: #ffffff;
	font-family: 'OpenSans_Light';
	color: #727070;
}
.page-footer .container {
	padding-top: 15px;
	position: relative;
}
.page-footer .copyright {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 1.2em;
}
/* Логин */
.page-footer .lock {
	position: absolute;
	top: 20px;
	left: 20px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'OpenSans_Bold';
	font-size: 1.4em;
	line-height: 1.4;
	color: #727070;
	text-decoration: none;
	background: url(../img/ft_locked.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background: url(../img/ft_unlocked.png) no-repeat;
}
/* Логин - Конец */
/* Футер - Конец */

/* Общие классы */
.container {
	width: 960px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
/* clearfix - Конец */
/* Общие классы - Конец */