html {
	height: 100%;
}
body {
	height: 100%;
	background: fixed url(../img/bg.jpg) no-repeat center center;
	background-size: cover;
	font: normal 62.5% 'OpenSans_Regular', Verbana, Arial, Helvetica, sans-serif;
	color: #727070;
}

/* Прибиваем футер к низу */
.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto!important;
	/* overflow: hidden; */
}
.wrapper:after {
	content: "";
	height: 61px;
	display: block;
}
.page-footer {
	height: 61px;
	margin-top: -61px;
	min-width: 970px;
}

/* Прибиваем футер к низу - Конец */

/* Шапка */
.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.page-header {
	height: 90px;
	background: url(../img/bg-head.jpg) top center repeat-x;
	position: relative;
	margin-bottom: 34px;
	border-bottom: 7px solid #FFFFFF; 
	-webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
}
.page-header .header-logo-link {
	position: absolute;
	top: 10px;
	left: 10px;
}
.page-header .header-logo-text {
	position: absolute;
	left: -9999px;
}
.page-header .socials {
	position: absolute;
	right: 0;
	top: 24px;
}
/* Шапка конец */

/*Блок социальных иконок */
.socials {
	margin: 0;
	padding: 0;
	min-width: 200px;
}
.socials .socials-item {
	list-style: none;
	display: inline-block;
	height: 44px;
	width: 42px;
	margin-left: 8px; 
}
.socials .socials-item:first-child {
	margin-left: 0;
}
.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url(../img/social.png) no-repeat;
}
.socials .socials-link.vk {background-position: -317px -5px}
.socials .socials-link.vk:hover {background-position: -369px -5px}
.socials .socials-link.tw {background-position: -213px -5px}
.socials .socials-link.tw:hover {background-position: -265px -5px}
.socials .socials-link.fb {background-position: -5px -5px}
.socials .socials-link.fb:hover {background-position: -57px -5px}
.socials .socials-link.git {background-position: -109px -5px}
.socials .socials-link.git:hover {background-position: -161px -5px}
/* Блок социальных иконок - Конец */

/* Сайдбар*/
.sidebar {
	width: 250px;
	float: left;
}

/* Навигация */
.navigation {
	overflow: hidden;
	border-radius: 6px;
	margin-bottom: 34px;
	-webkit-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.4);
}
.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation .navigation-item {
	border: 1px solid #bcbcbc;
	border-top: 0;
	background: #eeeeee;
	background: -moz-linear-gradient(top, #eeeeee 0%, #e5e3e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#e5e3e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#e5e3e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#e5e3e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#e5e3e2 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#e5e3e2 100%); /* W3C */
}
.navigation .navigation-item:first-child {
	border-top: 1px solid #bcbcbc;
	border-radius: 6px 6px 0 0;
}

.navigation .navigation-item:hover {
	background: #dcdbdb;
	background: -moz-linear-gradient(top, #dcdbdb 1%, #bfbcbc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#dcdbdb), color-stop(100%,#bfbcbc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dcdbdb 1%,#bfbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dcdbdb 1%,#bfbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dcdbdb 1%,#bfbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dcdbdb 1%,#bfbcbc 100%); /* W3C */
}
/* Навигация - текущий пункт меню */
.navigation .navigation-item.current {
	background: #5dceb2;
	background: -moz-linear-gradient(top, #7de8cd 0%, #3fb79a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7de8cd), color-stop(100%,#3fb79a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7de8cd 0%,#3fb79a 100%); /* W3C */
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
	margin: 0;
	border: 1px #38a58a solid;
	border-top: 1px #66dbbe solid; 
}
.navigation .navigation-item.current:hover {
	background: #5dceb2;
	background: -moz-linear-gradient(top, #7de8cd 0%, #3fb79a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7de8cd), color-stop(100%,#3fb79a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7de8cd 0%,#3fb79a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7de8cd 0%,#3fb79a 100%); /* W3C */
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.2);
	margin: 0;
	border: 1px #38a58a solid;
	border-top: 1px #66dbbe solid; 
}
.navigation .navigation-item.current .navigation-link {
	color: #1e7465;
	font-size: 22px;
}
/*Навигация - текущий пункт меню - конец */
.navigation .navigation-link {
	font-family: 'OpenSans_SemiBold';
	display: block;
	font-size: 20px;
	text-decoration: none;
	color: #727070;
	margin-left: 0px;
	padding: 13px 28px 13px;
	text-shadow: 0px 1px 0 rgba(255,255,255,0.3);
}
/* Навигация - Конец */

/* Контакты */
.contacts {
	font-style: normal;
	margin-bottom: 26px;
}
.contacts .contacts-header {
	border-radius: 6px 6px 0 0;
	font-family: 'OpenSans_SemiBold';
	font-size: 20px;
	font-weight: normal;
	text-shadow: 0px 1px 0 #efd6a4;
	color: #d0982c;
	padding: 8px 0 8px 28px;
	margin: 0;
	display: block;
	background: #f4ce82; /* Old browsers */
	background: -moz-linear-gradient(top, #f4ce82 0%, #dfb866 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4ce82), color-stop(100%,#dfb866)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f4ce82 0%,#dfb866 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f4ce82 0%,#dfb866 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f4ce82 0%,#dfb866 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f4ce82 0%,#dfb866 100%); /* W3C */
	border: 1px #dbb15f solid;
	border-top-color: #e7bf6f;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.3);
}
.contacts .contacts-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.contacts .contacts-item {
	height: 37px;
	border: 1px solid #d6d5d3;
	border-top: 0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #a9a7a7 0%, #a9a7a7 0%, #ffffff 0%, #f7f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a7a7), color-stop(0%,#a9a7a7), color-stop(0%,#ffffff), color-stop(100%,#f7f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a9a7a7 0%,#a9a7a7 0%,#ffffff 0%,#f7f6f6 100%); /* W3C */
}
.contacts .contacts-item .link {
	display: block;
	position: relative;
	font-size: 14px;
	font-family: 'OpenSans_regular';
	color: #727070;
	text-decoration: none;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 8px 0 0 90px;
}
.contacts .contacts-item .link:before {
	position: absolute;
	width: 40px;
	height: 38px;
	left: 19px;
	top: 0px;
	content: '';
}
.contacts .contacts-item .mail:before {
	background: url(../img/ct_email.png);
}
.contacts .contacts-item .phone:before {
	background: url(../img/ct_phone.png);
}
.contacts .contacts-item .skype:before {
	background: url(../img/ct_skype.png);
}
.contacts .contacts-item:first-child {
	border-top:1px solid #d6d5d3;
}
.contacts .contacts-item:last-child {
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.3);
	box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.3);
}
.contacts .contacts-item:hover {
	background: #faf5ed; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #f2e7d0 100%, #a9a7a7 100%, #a9a7a7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f2e7d0), color-stop(100%,#a9a7a7), color-stop(100%,#a9a7a7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 0%,#f2e7d0 100%,#a9a7a7 100%,#a9a7a7 100%); /* W3C */
}
.contacts .contacts-item .link:hover {
	color: #727070;
	text-decoration: underline;
}
/* Контакты - Конец*/

/* Главная область */
.variable-content {
	width: 650px;
	float: right;
}
/* Главная область - Конец*/

/* Футер */
.page-footer {
	background: #ffffff;
	font-family: 'OpenSans_Light';
	color: #727070;
	-webkit-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.1);
	box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.1);
}
.page-footer .container {
	padding-top: 15px;
	position: relative;
}
.page-footer .copyright {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 1.2em;
}
/* Логин */
.page-footer .lock {
	position: absolute;
	top: 20px;
	left: 20px;
}
.lock .lock-inner {
	display: block;
	height: 40px;
	font-family: 'OpenSans_Bold';
	font-size: 1.4em;
	line-height: 1.4;
	color: #727070;
	text-decoration: none;
	background: url(../img/ft_locked.png) no-repeat;
	padding-left: 24px;
}
.lock .lock-inner:hover {
	text-decoration: underline;
	background: url(../img/ft_unlocked.png) no-repeat;
}
/* Логин - Конец */
/* Футер - Конец */

/* Общие классы */
.container {
	width: 960px;
	margin: 0 auto;
}
.text-center {
	text-align: center;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
/* clearfix */
.container:before, .clearfix:before,
.container:after, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.container:after, .clearfix:after {
	clear: both;
}
/* clearfix - Конец */
/* Общие классы - Конец */