/* Общие стили для всех секций */
.workbox {
	background: #f3f2f1;
	border-radius: 4px;
	border: 1px #bfbfbf solid;
	margin-bottom: 26px;
}
.workbox .workbox-header {
	font-family: 'OpenSans_SemiBold';
	font-size: 24px;
	font-weight: normal;
	color: #FFFFFF;
	box-sizing: border-box;
	margin: 0 0 22px 0px;
	padding: 13px 0px 13px 43px;
	display: inline-block;
	width: 100%; 
	background: #a9a7a7; /* Old browsers */
	background: -moz-linear-gradient(top, #a9a7a7 0%, #a9a7a7 1%, #7b7979 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a7a7), color-stop(1%,#a9a7a7), color-stop(100%,#7b7979)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a9a7a7 0%,#a9a7a7 1%,#7b7979 100%); /* W3C */
}
.workbox-body {
	padding-bottom: 40px;
}
.workbox-body .worklist {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 41px;
	margin-top: 15px;
}
.worklist .worklist-item {
	display: inline-block;
	width: 166px;
	border-radius: 8px;
	border: 1px #bababa solid; 
	margin-right: 31px;
	margin-bottom: 32px;
	vertical-align: top;
	background: #ffffff;
}
.worklist-item .wrap-workimg {
	position: relative;
	width: 166px;
	height: 118px;
	overflow: hidden;
}
.wrap-workimg .workimg {
	border-radius: 8px 8px 0 0;
	width: 100%;
	height: 100%;
}
.wrap-workimg .worklink-img {
	display: block;
	position: absolute;
	font-family: 'OpenSans_Regular';
	font-size: 13.35px;
	text-align: center;
	text-decoration: none;
	padding-top: 45px;
	width: 100%;
	height: 100%;
	top: 0px;
  	left: 0px;
  	background: rgba(0,0,0,0.7);
  	border-radius: 6px 6px 0 0;
 	color: #fff;
 	opacity: 0;
	filter: alpha(opacity=0.1);
 	-o-transition: all 0.5s linear 0s;
	-webkit-transition: all 0.5s linear 0s;
	-moz-transition: all 0.5s linear 0s;
	-o-transition: all 0.5s linear 0s;
	transition: all 0.5s linear 0s;
}
.wrap-workimg .worklink-img:hover {
	opacity: 1;
}
.worklist-item .worklink {
	display: block;
	color: #727070;
	font-family: "OpenSans_Semibold";
	font-size: 13.35px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px #bababa solid;
	padding: 8px 0;
}
.worklist-item .workdescription {
	color: #727070;
	font-family: 'OpenSans_Light';
	font-size: 12px;
	text-align: center;
	margin: 5px 0;
}
.worklist-item .wrap-workadd {
	position: relative;
	width: 100%;
	height: 134px; 
	border-radius: 8px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e9e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e9e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e9e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e9e8e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e9e8e8 100%); /* W3C */
}
.wrap-workadd .workadd {
	position: absolute;
	display: block;
	font-family: "OpenSans_Semibold";
	font-size: 14px;
	color: #727070;
	text-decoration: none;
	padding-top: 90px;
	padding-left: 23px;
	height: 48px; 
	width: 140px;

}
.wrap-workadd .workadd:before {
	position: absolute;
	background: url(../img/workadd.png) no-repeat 0 0;
	width: 54px;
	height: 55px;
	top: 24px;
	left: 57px;
	content: '';
}
/* Общие стили для всех секций - Конец*/

/* Попап */

.popup {
	height: 490px;
	width: 365px;
	position: relative; 
	display: none;
}

.popup .popup-head {
	font-family: "OpenSans_Light";
	font-size: 12px;
	margin: 0 0 5px 20px;
	color: #f8f7f6;
}
.wrap-popup-form {
	position: relative;
	height: 460px;
	width: 100%;
	border-radius: 8px;
	border: 1px #b7b7b7 solid;
	background: #fbfbfa; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfbfa 0%, #f0eeed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfa), color-stop(100%,#f0eeed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfbfa 0%,#f0eeed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfbfa 0%,#f0eeed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfbfa 0%,#f0eeed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfbfa 0%,#f0eeed 100%); /* W3C */
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.popup .popup-head {
	font-family: "OpenSans_Light";
	font-size: 12px;
	margin: 0 0 5px 23px;
}
.wrap-popup-form-inner {
	margin: 20px 0 0 22px;
	width: 320px;
}
.wrap-popup-form-inner .wrap-popup-input {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 7px;
}
.wrap-popup-input .popup-input-head {
	font-family: "OpenSans_Semibold";
	font-size: 14px;
	color: #727070;
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
}
.wrap-popup-input .popup-input {
	display: block;
	width: 300px;
	padding: 12px 10px 12px 10px;
	border-radius: 6px;
	border: 1px #d6d5d3 solid;
	font-family: "OpenSans_Ligth";
	font-size: 12px;
	color: #c7c6c6;
	background: #fbfcfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfcfd 0%, #f4f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfd), color-stop(100%,#f4f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfcfd 0%,#f4f3f3 100%); /* W3C */
}
.wrap-popup-input .popup-input::-moz-placeholder {
	color: #c7c6c6;
}
.wrap-popup-input .popup-input::-webkit-input-placeholder {
	color: #c7c6c6;
}
.wrap-popup-input .wrap-popup-input-file {
	cursor: pointer;
	position: relative;
	display: block;
	width: 300px;
	height: 15px;
	padding: 12px 10px 12px 10px;
	border-radius: 6px;
	border: 1px #d6d5d3 solid;
	font-family: "OpenSans_Ligth";
	font-size: 12px;
	color: #c7c6c6;
	margin-top: 8px;
	background: #fbfcfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfcfd 0%, #f4f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfd), color-stop(100%,#f4f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfcfd 0%,#f4f3f3 100%); /* W3C */
}
.wrap-popup-input .popup-input-file {
	position: absolute;
	top: 0;
	left: -9999px;
}
.wrap-popup-input .popup-input-fake {
	font-family: "OpenSans_Ligth";
	font-size: 12px;
}
.wrap-popup-input .popup-input-img {
	position: absolute;
 	right: 0;
 	bottom: 0;
 	top: 0;
 	left: 268px;
 	border-left: 1px #d6d5d3 solid;
 	background: url("../img/cloud.png") center center no-repeat; 
}
.wrap-popup-input .popup-input-textarea {
	display: block;
	width: 300px;
	padding: 12px 10px 12px 10px;
	height: 87px;
	border-radius: 6px;
	border: 1px #d6d5d3 solid;
	font-family: "OpenSans_Ligth";
	font-size: 12px;
	color: #c7c6c6;
	background: #fbfcfd; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfcfd 0%, #f4f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfcfd), color-stop(100%,#f4f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fbfcfd 0%,#f4f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fbfcfd 0%,#f4f3f3 100%); /* W3C */
	resize: none;
}
.wrap-popup-input .popup-input-textarea::-moz-placeholder {
	color: #c7c6c6;
}
.wrap-popup-input .popup-input-textarea::-webkit-input-placeholder {
	color: #c7c6c6;
}
.wrap-popup-button {
	margin-top: 12px;
	margin-left: 90px;
	width: 121px;
	height: 38px;
	padding-top: 1px;
	padding-left: 1px;
	border-radius: 6px;
	background: #57d2b4; /* Old browsers */
	background: -moz-linear-gradient(top, #57d2b4 1%, #3aa187 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#57d2b4), color-stop(100%,#3aa187)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #57d2b4 1%,#3aa187 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #57d2b4 1%,#3aa187 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #57d2b4 1%,#3aa187 100%); /* IE10+ */
	background: linear-gradient(to bottom, #57d2b4 1%,#3aa187 100%); /* W3C */
}
.wrap-popup-button .popup-button {
	display: inline-block;
	margin-top: 0px;
	width: 120px;
	height: 37px;
	border-width: 0px;
	border-radius: 6px;
	border-top: 1px #8fe7d1 solid;
	background: #5edbbc; /* Old browsers */
	background: -moz-linear-gradient(top, #5edbbc 0%, #3aa187 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5edbbc), color-stop(100%,#3aa187)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5edbbc 0%,#3aa187 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5edbbc 0%,#3aa187 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5edbbc 0%,#3aa187 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5edbbc 0%,#3aa187 100%); /* W3C */
	font-family: "OpenSans_Semibold";
	font-size: 14px;
	color: #1e7465;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.wrap-popup-button .popup-button:active, .wrap-popup-button .popup-button:focus {
  outline: none;
}
.wrap-popup-button .popup-button::-moz-focus-inner {
  border: 0;
}
.popup-close {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 6px;
	left: 344px; 

	text-indent: -9999px;
	background: url(../img/cross.png) no-repeat;
}