@font-face {
    font-family: 'OpenSans_Regular';
    src: url('opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Light';
    src: url('opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Semibold';
    src: url('OpenSans-Semibold.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans_Bold';
    src: url('opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}